body {
    margin: 0;
    margin: 0;
}
/* ajout des propriété pour le l'ensemple de mon contenu en display flex et l'affichage sera en colonne */
.container {
    display: flex;
}
/* Style pour la colonne de gauche taille couleur de la police etc */
.col-g {
    width: 30%;
    background-color: rgb(137, 141, 216);
    color: white;
}


/* Création du container de mon image*/
.image-container {
    display: flex;
    justify-content: center;
}

/* style de la photo taille et effet arrondi */
.image-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #0be1e9;
    box-shadow: 0 0 10px rgb(33, 86, 231);
    margin-top: 2vw;
}

/* style pour la partie contact */

.Contact {
    display: flex;
    flex-direction: column; /* Aligne les éléments verticalement */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre les éléments dans la colonne */
    font-size: 20px;
    margin-top: 0px;
    margin-left: auto; /* Supprime les marges inutiles */
    margin-right: auto; /* Centre le contenu dans la colonne */
    width: 90%; /* Ajuste la largeur pour éviter de dépasser */
    box-sizing: border-box;
    margin-bottom: 0px;
}
.Contact h1 {
    margin-top: 7px;
    margin-bottom: 0px;
}
.Contact-info i,
.Contact-info p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; /* Espace entre les éléments */
   }

.competences_langues h1 {
    margin: 0; /* Supprime les marges */
}
   
.competences_langues h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.competences_langues {
    font-size: 20px;
    margin-top: 2.3vw;
    margin-left: 30px;
    text-align: center;
}

.competences_langues h2 {
    font-size: 30px;
    margin-top: 17px;
}
.competences_langues p {
    font-size: 22px;
    margin-top: 4px;
    margin-bottom: 9px;
}
.boite {
    margin-top: 30px;
}

/* Styling the border and box
        effect of the progress bar*/
        .progress-bar-container {
            width: 90%;
            height: 30px;
            margin-top: 5px;
            margin-bottom: 5px;
            border: 1px solid #0be1e9;
            border-radius: 5px;
            box-shadow: 0 0 10px rgb(33, 86, 231);
            overflow: hidden;
            position: relative;
            background-color: rgb(58, 10, 201);
        }
 
        /* Stylingthe background color of each
        animation and border radius */
        .progress-bar-level {
            display: block;
            height: 100%;
            background-color: rgb(200, 198, 226);
            border-radius: 5px;
            animation: progress 5s ease-in-out infinite;
        }
 
        /* Assigning width of each languages*/
        .progress-bar-level-1 {
            background-color: rgba(9, 255, 0, 0.941); /* Bleu clair et transparent */
            animation-delay: 0.4s; /* Délai pour l'animation */
            width: calc(100% * 6 / 8); /* Largeur spécifique */
        }
        .progress-bar-level-1 + .progress-bar-indicator-1 {
            left: calc(100% * 6 / 8); /* Position de la barre rouge */
        }

        .progress-bar-level-2 {
            background-color: rgba(12, 241, 233, 0.874); /* Bleu clair et transparent */
            animation-delay: 0.4s; /* Délai pour l'animation */
            width: calc(100% * 5 / 16); /* Largeur spécifique */
        }
        .progress-bar-level-2 + .progress-bar-indicator-2 {
            left: calc(100% * 5 / 16); /* Position de la barre rouge */
        }

        .progress-bar-level-3 {
            background-color: rgba(241, 9, 214, 0.826); /* Bleu clair et transparent */
            animation-delay: 0.4s; /* Délai pour l'animation */
            width: calc(100% * 2 / 8); /* Largeur spécifique */
        }
        .progress-bar-level-3 + .progress-bar-indicator-3 {
            left: calc(100% * 2 / 8); /* Position de la barre rouge */
        }
        .progress-bar-indicator {
            height: 100%;
            width: 2px;
            background-color: red;
            position: absolute;
            top: 0;
            z-index: 2;
        }
        
        /* Animating the progress bar by
        initially starting from 0*/
        @keyframes progress {
            from {
                width: 0;
            }
        }

/* pour enlever les marges par défaut */
.autre-competences > * {
    margin: 0;
}
.autre-competences h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.autre-competences {
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.autre-competences h2 {
    font-size: 30px;
    margin-top: 20px;
}

.autre-competences p {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}



/* style pour la colonne de gauche */

.col-d {
    width: 70%;
    padding-left: 15px;
    background-color: rgb(179, 224, 197);
    color: rgb(0, 0, 0);
}

.haut h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
}

.col-d h2 {
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-top: 0px;
}

.Acccroche {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.col-d  p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
}



h3 {
    margin-left: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: space-around;
    row-gap:5px ;
}

.grid-item {
    font-size: 20px;
}

hr {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 95%;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto auto;
    justify-content: space-around;
    row-gap:5px ;
}

#lhr {
    margin-bottom: 40px;
}

@media screen and (max-width: 1177px) {
    .container {
      flex-direction: column;
    }
    .col-g {
        text-align: center;
      width: 100%;
    }

    .progress-bar-container {
        margin: 0 auto;
    }

    .contact {
    justify-content: center;
    }

    .col-d {
      width: 100%;
      padding-left: 0;
    }

    .col-d p {
        padding: 10px;
        margin-bottom: 0px;
    }

    .col-d h1 {
        margin-top: 10px;
        text-align: center;
    }

    .grid-container {
        margin-left: 15px;
        gap: 10px;
    }

    .grid-item {
        font-size: 12px;
    }

    .grid-container2 {
        text-align: center;
        gap : 10px;
        margin-left: 15px;
    }

    hr {
        margin-bottom: 15px;
    }

    #lhr {
        margin-bottom: 15px;
    }
  }